// Slider
.swiper-container {
	width: 100%;
	//height: 100%;
	height: 900px;
	//background-color: #000;
	//background: #0f091e;
	//background: #070419;
	background-image: url('../images/slider/back-1.jpg');
}

.swiper-slide {
	font-size: 18px;
	color:#fff;
	box-sizing: border-box;
	padding: 40px 60px;
	//background-color: #0f091e;
	//background-image: url('../images/slider/back-1.jpg');
}
.parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 3492px;
	height: 100%;
	background-color: #0f091e;
	background-size: cover;
	background-position: left center;
}

// slide 1

.slide-title-1 {
	position: absolute;
	right: 70px;
	bottom: 70px;
	z-index: 200;
}

.object-1-1 {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
}

.object-1-2 {
	position: absolute;
	left: 40%;
	top: 10%;
	z-index: 50;
}

// slide 2
.slide-title-2 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
	z-index: 200;
}

.object-2-1 {
	position: absolute;
	left: 20%;
	bottom: 20%;
	z-index: 100;
}

.object-2-2 {
	position: absolute;
	left: 40%;
	top: 10%;
	z-index: 50;
}

// slide 3
.slide-title-3 {
	position: absolute;
	left: 70px;
	bottom: 70px;
	z-index: 200;
}

.object-3-1 {
	position: absolute;
	left: 0%;
	bottom: 20%;
	z-index: 100;
}

.object-3-2 {
	position: absolute;
	left: 10%;
	bottom: 20%;
	z-index: 50;
}

// slide 4
.slide-title-4 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
	z-index: 200;
}

.object-4-1 {
	position: absolute;
	left: -15%;
	top: 20%;
	z-index: 100;
}

.object-4-2 {
	position: absolute;
	left: 50%;
	bottom: 20%;
	z-index: 50;
}

.object-4-3 {
	position: absolute;
	left: -70px;
	bottom: 0;
	z-index: 150;
}

// Arrows
.swiper-button-prev {
	left: 8%;
}

.swiper-button-next {
	right: 8%;
}

// Pagination
.swiper-pagination {
	pointer-events: none;
}

.swiper-pagination-bullet {
	width: 22px;
	height: 22px;
	border: 2px solid #fff;
	opacity: 1;
}

.swiper-pagination-white .swiper-pagination-bullet {
	background-color: transparent;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background-color: rgba(255, 2555, 255, .4);
}